<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jhsdgfkajsgdkfl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6c53370a-14c0-4a47-a50a-8f7bcf275fc4/resourceGroups/jhsdgfkajsgdkfl_group/providers/Microsoft.Web/sites/jhsdgfkajsgdkfl</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://jhsdgfkajsgdkfl.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>